lumoslumoslumos ctisur paswrd

Importo Librerias, uso Twython

In [1]:
# Importando Twython class
from twython import Twython  
import json

# General:
#import tweepy           # To consume Twitter's API
import pandas as pd     # To handle data
import numpy as np      # For number computing

# Para dibujar
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# CArga de credenciales Twitter
with open("twitter_credenciales.json", "r") as file:  
    creds = json.load(file)

Acceso a la aplicacion de twitter

In [3]:
# Inicia la extraccion
#El idioma  https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
#Query https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets.html

python_tweets = Twython(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'])

# Create our query
query = {'q': 'keiko fujimori',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

Extraccion de datos

In [4]:
#Dataset basico, con datos adicionales al user

import pandas as pd
# Busqueda en los tweets
dict3a_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3a_['id'].append(status['user']['id'])
    dict3a_['user'].append(status['user']['screen_name'])
    dict3a_['date'].append(status['created_at'])
    dict3a_['text'].append(status['text'])
    dict3a_['source'].append(status['source'])
    dict3a_['retweet_count'].append(status['retweet_count'])
    dict3a_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3a = pd.DataFrame(dict3a_)  
df3a.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3a.head(2)

,id,user,date,text,favorite_count,source,retweet_count
1,54797928,sigridbazan,Mon Nov 26 15:38:36 +0000 2018,"O sea, para Jaime Yoshiyama fue más importante...",876,"<a href=""https://about.twitter.com/products/tw...",180
0,26258791,BrunoGEsc,Mon Nov 26 18:37:03 +0000 2018,Es un éxito el etiquetado con alertas en Chile...,426,"<a href=""http://twitter.com/download/android"" ...",168

In [5]:
#Tamaño del df
len(df3a)

100

In [6]:
query = {'q': 'fuerza popular',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [7]:
dict3b_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3b_['id'].append(status['user']['id'])
    dict3b_['user'].append(status['user']['screen_name'])
    dict3b_['date'].append(status['created_at'])
    dict3b_['text'].append(status['text'])
    dict3b_['source'].append(status['source'])
    dict3b_['retweet_count'].append(status['retweet_count'])
    dict3b_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3b = pd.DataFrame(dict3b_)  
df3b.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3b.head(2)

,id,user,date,text,favorite_count,source,retweet_count
0,248692867,canalN_,Tue Nov 27 22:14:17 +0000 2018,[LO ÚLTIMO] Yeni Vilcatoma solicita la expulsi...,419,"<a href=""https://www.hootsuite.com"" rel=""nofol...",253
2,65549291,noticiAmerica,Mon Nov 26 12:36:42 +0000 2018,"En enero, el rechazo a Fuerza Popular era del ...",107,"<a href=""https://www.hootsuite.com"" rel=""nofol...",36

In [8]:
#Tamaño del df
len(df3b)

100

In [9]:
query = {'q': 'hector becerril',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [10]:
dict3c_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3c_['id'].append(status['user']['id'])
    dict3c_['user'].append(status['user']['screen_name'])
    dict3c_['date'].append(status['created_at'])
    dict3c_['text'].append(status['text'])
    dict3c_['source'].append(status['source'])
    dict3c_['retweet_count'].append(status['retweet_count'])
    dict3c_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3c = pd.DataFrame(dict3c_)  
df3c.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3c.head(2)

,id,user,date,text,favorite_count,source,retweet_count
0,187591611,CarlosBasombrio,Fri Nov 23 00:03:13 +0000 2018,"OTRO ""PERSEGUIDO POLÍTICO"" ESTO ES UNA PLAGA\n...",566,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",291
51,132768793,Lauletras,Tue Nov 27 23:02:44 +0000 2018,-no quieren levantarle la inmunidad a Edwin Do...,105,"<a href=""http://twitter.com/download/iphone"" r...",47

In [11]:
#Tamaño del df
len(df3c)

100

In [12]:
query = {'q': 'fujitroll',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [13]:
dict3d_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3d_['id'].append(status['user']['id'])
    dict3d_['user'].append(status['user']['screen_name'])
    dict3d_['date'].append(status['created_at'])
    dict3d_['text'].append(status['text'])
    dict3d_['source'].append(status['source'])
    dict3d_['retweet_count'].append(status['retweet_count'])
    dict3d_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3d = pd.DataFrame(dict3d_)  
df3d.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3d.head(2)

,id,user,date,text,favorite_count,source,retweet_count
30,2978793590,rataneda,Wed Nov 28 00:30:04 +0000 2018,* Feministas de @NiUnaMenosPeru condenan broma...,58,"<a href=""https://mobile.twitter.com"" rel=""nofo...",20
48,127946842,aspauzarazuri,Tue Nov 27 21:26:24 +0000 2018,Lourdes Alcorta tiene tanto de facha como de b...,17,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",5

In [14]:
#Tamaño del df
len(df3d)

100

In [15]:
query = {'q': 'rosa bartra',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [16]:
dict3e_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3e_['id'].append(status['user']['id'])
    dict3e_['user'].append(status['user']['screen_name'])
    dict3e_['date'].append(status['created_at'])
    dict3e_['text'].append(status['text'])
    dict3e_['source'].append(status['source'])
    dict3e_['retweet_count'].append(status['retweet_count'])
    dict3e_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3e = pd.DataFrame(dict3e_)  
df3e.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3e.head(2)

,id,user,date,text,favorite_count,source,retweet_count
0,119174866,rmapalacios,Mon Nov 19 16:03:37 +0000 2018,Debe estar muy preocupada Rosa Bartra. Cuando ...,2747,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",945
1,54797928,sigridbazan,Mon Nov 19 20:54:22 +0000 2018,La Comisión Lava Jato de Rosa Bartra le hizo u...,675,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",288

In [17]:
#Tamaño del df
len(df3e)

100

In [18]:
query = {'q': 'leyla chihuan',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [21]:
dict3f_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3f_['id'].append(status['user']['id'])
    dict3f_['user'].append(status['user']['screen_name'])
    dict3f_['date'].append(status['created_at'])
    dict3f_['text'].append(status['text'])
    dict3f_['source'].append(status['source'])
    dict3f_['retweet_count'].append(status['retweet_count'])
    dict3f_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3f = pd.DataFrame(dict3f_)  
df3f.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3f.head(2)

,id,user,date,text,favorite_count,source,retweet_count
22,9075022,RPPNoticias,Tue Nov 27 11:16:32 +0000 2018,Ciudadanos de otros países usaron la expresión...,23,"<a href=""https://about.twitter.com/products/tw...",7
67,153625642,atv_noticias,Mon Nov 26 15:57:03 +0000 2018,IPSOS: Leyla Chihuán tiene la mayor desaprobac...,18,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",3

In [22]:
#Tamaño del df
len(df3f)

100

In [23]:
query = {'q': 'Daniel Salaverry',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [24]:
dict3g_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3g_['id'].append(status['user']['id'])
    dict3g_['user'].append(status['user']['screen_name'])
    dict3g_['date'].append(status['created_at'])
    dict3g_['text'].append(status['text'])
    dict3g_['source'].append(status['source'])
    dict3g_['retweet_count'].append(status['retweet_count'])
    dict3g_['favorite_count'].append(status['favorite_count'])

# Structure data in a pandas DataFrame for easier manipulation
df3g = pd.DataFrame(dict3g_)  
df3g.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3g.head(2)

,id,user,date,text,favorite_count,source,retweet_count
82,29330019,lamula,Mon Nov 26 18:05:50 +0000 2018,#Gasolinazo #Peculado\nPresidente de la Suprem...,174,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",82
0,248692867,canalN_,Fri Nov 23 17:26:15 +0000 2018,[LO ÚLTIMO] Daniel Salaverry condecora a repre...,99,"<a href=""https://www.hootsuite.com"" rel=""nofol...",24

In [25]:
#Tamaño del df
len(df3g)

100

In [26]:
query = {'q': 'alberto fujimori',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [27]:
dict3h_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3h_['id'].append(status['user']['id'])
    dict3h_['user'].append(status['user']['screen_name'])
    dict3h_['date'].append(status['created_at'])
    dict3h_['text'].append(status['text'])
    dict3h_['source'].append(status['source'])
    dict3h_['retweet_count'].append(status['retweet_count'])
    dict3h_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3h = pd.DataFrame(dict3h_)  
df3h.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3h.head(2)

,id,user,date,text,favorite_count,source,retweet_count
0,187591611,CarlosBasombrio,Tue Nov 20 14:31:52 +0000 2018,Los que más avergüenzan a su país son los que ...,1136,"<a href=""https://about.twitter.com/products/tw...",446
1,187591611,CarlosBasombrio,Sun Nov 18 21:01:09 +0000 2018,Parece que Alan Garcia logrará escaparse de la...,1115,"<a href=""http://twitter.com/download/android"" ...",417

In [28]:
#Tamaño del df
len(df3h)

100

In [29]:
query = {'q': 'Luz Salgado',  
        'result_type': 'mixed',  #populares y recientes
        'count': 100,  #Maximo se puede solicitar 100 tweets
        'lang': 'es',  #en español
        }

In [30]:
dict3i_ = {'id': [],'user': [], 'date': [], 'text': [], 'favorite_count': [],'source': [],'retweet_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict3i_['id'].append(status['user']['id'])
    dict3i_['user'].append(status['user']['screen_name'])
    dict3i_['date'].append(status['created_at'])
    dict3i_['text'].append(status['text'])
    dict3i_['source'].append(status['source'])
    dict3i_['retweet_count'].append(status['retweet_count'])
    dict3i_['favorite_count'].append(status['favorite_count'])

# Verifico laestructura y tamaño de la captura
df3i = pd.DataFrame(dict3i_)  
df3i.sort_values(by='favorite_count', inplace=True, ascending=False)  
df3i.head(2)

,id,user,date,text,favorite_count,source,retweet_count
0,85840608,diariocorreo,Tue Nov 27 18:33:29 +0000 2018,Luz Salgado se pronuncia por comentarios de Ca...,103,"<a href=""https://about.twitter.com/products/tw...",43
53,3106652321,yadhira2015,Tue Nov 27 22:29:59 +0000 2018,@suriel @galdosoficial Denuncia tb a Luz Salga...,17,"<a href=""http://twitter.com/download/android"" ...",1

In [31]:
#Tamaño del df
len(df3i)

100

In [32]:
frames = [df3a, df3b,df3c,df3d,df3e,df3f,df3g,df3h,df3i]
dfMaster = pd.concat(frames, ignore_index=True)
dfMaster.head(2)

,id,user,date,text,favorite_count,source,retweet_count
0,54797928,sigridbazan,Mon Nov 26 15:38:36 +0000 2018,"O sea, para Jaime Yoshiyama fue más importante...",876,"<a href=""https://about.twitter.com/products/tw...",180
1,26258791,BrunoGEsc,Mon Nov 26 18:37:03 +0000 2018,Es un éxito el etiquetado con alertas en Chile...,426,"<a href=""http://twitter.com/download/android"" ...",168

In [33]:
#Tamaño del df
len(dfMaster)

900

In [34]:
#guardo los resultados en un csv
dfMaster.to_csv('keikomaster.csv')

Adecuo a Dataset TASS

In [35]:
df4 = dfMaster

df4['tweetid'] = df4.id
df4['content'] = df4.text

In [41]:
#Creo el dataset test final que se exportara como cvs para la deteccion de bots
features = ['tweetid', 'content']
dfFinal = df4[features]

In [43]:
#Visualizo los datos del df4 validando las nuevas columnas generadas
dfFinal.head(2)

    tweetid                                            content
0  54797928  O sea, para Jaime Yoshiyama fue más importante...
1  26258791  Es un éxito el etiquetado con alertas en Chile...

In [44]:
#guardo los resultados en un csv
dfFinal.to_csv('keikoTest.csv')